<div class="leftMenu">
  <div class="leftMenu__title">
    <p>CÔNG TY DU LỊCH BỬU LONG</p>
  </div>
  <div class="leftMenu__content">
    <div class="huhu" routerLinkActive="active">
      <a aria-current="page" routerLink="/" class="nav-link">
        <div class="leftMenu__content__item">
          Trang Chủ
        </div>
      </a>
    </div>

    <div class="huhu" routerLinkActive="active">
      <a routerLink="/khachhang" class="nav-link">
        <div class="leftMenu__content__item">
          Danh sách khách hàng
        </div>

      </a>
    </div>
  </div>
</div>
